.hiking {
    height: 350px;
    width: 300px;
    margin-left: 20px;
}

.views {
    height: 350px;
    width: 300px;
    margin-left: 20px;
}

video {
    height: 350px;
    width: 300px;
    margin-left: 20px;
}